---
import Layout from '../../../layouts/Layout.astro';
import SkeletonMovie from '../../../components/sketeletonMovie.astro';
import Slider from '../../../components/slider.astro';
import { getMovieById } from '../../../services/api';

export const prerender = true;

const { id } = Astro.params

const data = await getMovieById(id);

---

<Layout 
title=`${data.title} | Movie Info` 
description=`Ver la informacion sobre la pelicula ${data.title}`
metaImage=`https://image.tmdb.org/t/p/original/${data.backdrop_path}`
metaImageAlt=`${data.title}`
>
    <main class="grid mx-auto my-10 justify-items-center gap-9">
        <SkeletonMovie id={id}/>

        <Slider id={id}/>
    </main>

</Layout>